@font-face {
    font-family: "bastian";
    src: url(../fonts/Bastian.ttf);
}

/* background color for entire app */
body {
    background-color: rgb(208, 255, 208);
}

/* padding for container to center it horizontally */
.container {
    padding-top: 150px;
}

/* header styling */
h2 {
    font-family: "bastian";
}

h3 {
    font-family: "bastian";
    font-size: 20vw;
}

.signupheader {
    font-family: "bastian";
    font-size: 5vw;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#signupmargin {
    font-size: 10vw;
    margin-top: 100px;
}

/* padding for each form page to center and align properly */
.three {
    padding-left: 100px;
}

.four {
    padding-left: 100px;
}

/* button styling */
.buttons {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 50%);
}

#reg-now {
    background-color: rgb(233, 176, 255);
    border-radius: 20px;
    width: 200px;
}

#reg-later {
    background-color: rgb(233, 176, 255);
    border-radius: 20px;
    width: 200px;
    opacity: .5;
}

/* hide all screens to begin */
.screen {
    display: none;
}

/* display first screen on load */
.one {
    display: block;
}

/* create meal plan styling */

.column {
    border: solid black 3px;
}

.columns {
    padding:100px;
    height: 1000px;
}

#recipe-image {
    padding: 100px;
    border: solid green 5px;
}

#recipe-image::after {
    content: "recipe image";
}

#recipe-title {
    padding: 20px;
    border: solid red 5px;
}

#recipe-title::after {
    content: "recipe title";
}

#recipe-steps {
    padding: 330px 100px;
    border: solid pink 5px;
}

#recipe-steps::after {
    content: "recipe steps, 1. 2. 3. ";
}

#recipe-ingredients {
    padding: 240px 100px;
    border: solid greenyellow 5px;
}

#recipe-ingredients::after {
    content: "recipe ingredients";
}

h1 {
    font-family: 'bastian';
    text-align: center;
    margin-top: 100px;
}